{{#paper-card}}
  {{#paper-card-content}}
    <div class="slide-content layout-column">
      <div class="layout-row layout-align-center-center">
        <div class="slide-title">
          Overtuigingen van Ember
        </div>
      </div>
      <div class="layout-row layout-align-center-center">
        <ul class="slide-unordered-list">
          <li>URL's zijn de meest onderscheidende eigenschap van een web applicatie</li>
          <li>Conventie over configuratie</li>
          <li>Alleen de code dat het waard is om te schrijven zou geschreven moeten worden</li>
          <li>Stabiliteit zonder stagnering</li>
        </ul>
      </div>
    </div>
  {{/paper-card-content}}
{{/paper-card}}
