{{#paper-card}}
  {{#paper-card-content}}
    <div class="slide-content layout-column">
      <div class="layout-row layout-align-center-center">
        <div class="slide-title">
          Wie gebruiken Ember?
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="layout-row layout-align-center-center">
        <div class="flex logo discourse-logo">
          <img src="assets/images/discourse.png">
        </div>
        <div class="flex logo twitch-logo">
          <img src="assets/images/Twitch_White_RGB.png">
        </div>
        <div class="flex logo netflix-logo">
          <img src="assets/images/Netflix_2015_logo.svg">
        </div>
      </div>
      <br />
      <br />
      <div class="layout-row layout-align-center-center">
        <div class="flex logo linkedin-logo">
          <img src="assets/images/Logo-2C-128px-TM.png">
        </div>
        <div class="flex logo microsoft-logo">
          <img src="assets/images/microsoft-gray.png">
        </div>
        <div class="flex logo yahoo-logo">
          <img src="assets/images/Yahoo_Logo_Purple.png">
        </div>
      </div>
    </div>
  {{/paper-card-content}}
{{/paper-card}}