<div class="layout layout-fill layout-align-center-center slide-overlay">
  {{paper-icon "play_arrow" size=72 click=startPresentation class="center-button"}}
</div>
<div class="slide-content layout-column">
  <div class="layout-row layout-align-center-center">
    <div class="ember-logo">
      <img src="assets/images/Ember on Light.png">
    </div>
  </div>
  {{!--<div class="layout-row layout-align-center-center">
    <div class="d3-logo">
      <img src="assets/images/d3.svg">
    </div>
  </div>--}}
</div>
