{{#paper-card}}
  {{#paper-card-content}}
    <div class="slide-content layout-column">
      <div class="layout-row layout-align-center-center">
        <div class="slide-title">
          Component
        </div>
      </div>
      <br />
      <div class="layout-row layout-align-center-top">
        <div class="flex">
          <b>components/show-report.js</b>
          {{ivy-codemirror
            value=componentCode
            options=(hash
              lineNumbers=true
              theme="blackboard"
              mode="javascript"
              smartIndent=true
              tabSize=2
              readOnly=false
              lineWrapping=false)
            }}
        </div>
        <div class="flex-5"></div>
        <div class="flex">
          <b>templates/components/show-report.hbs</b>
          {{ivy-codemirror
            value=componentTemplateCode
            options=(hash
              lineNumbers=true
              theme="blackboard"
              mode="handlebars"
              smartIndent=true
              tabSize=2
              readOnly=false
              lineWrapping=false)
          }}
        </div>
      </div>
      <div class="layout-column layout-align-center-center">
        {{show-report report=report}}
      </div>
    </div>
  {{/paper-card-content}}
{{/paper-card}}