{{#paper-card}}
  {{#paper-card-content}}
    <div class="slide-content layout-column">
      <div class="layout-row layout-align-center-center">
        <div class="slide-title">
          ember basis concepten
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="layout-row layout-align-center-center">
        <ul class="flex slide-unordered-list">
          <li>Router</li>
          <li>Route (handler)</li>
          <li>Models</li>
          <li>Templates</li>
          <li>Components</li>
        </ul>
        <div class="flex slide-image layout layout-align-center-center">
          <img src="assets/images/ember-core-concepts.png">
        </div>
      </div>
    </div>
  {{/paper-card-content}}
{{/paper-card}}
