{{#paper-card}}
  {{#paper-card-content}}
    <div class="slide-content layout-column">
      <div class="layout-row layout-align-center-center">
        <div class="slide-title">
          Addons
        </div>
      </div>
      <div class="layout-row layout-align-center-center">
        <ul class="slide-unordered-list">
          <li>ember install ember-cli-fastboot</li>
          <li>ember install ember-cli-mirage</li>
          <li>ember install ember-cordova</li>
          <li>ember install ember-paper</li>
          <li>emberaddons.com</li>
        </ul>
      </div>
    </div>
  {{/paper-card-content}}
{{/paper-card}}