{{#paper-card}}
  {{#paper-card-content}}
    <div class="slide-content layout-column">
      <div class="layout-row layout-align-center-center">
        <div class="slide-title">
          Ember new
        </div>
      </div>
      <div class="layout-row layout-align-center-center">
        <ul class="slide-unordered-list">
          <li>Component library</li>
          <li>Router</li>
          <li>Singleton management</li>
          <li>Dependency management</li>
          <li>Builds (Template Compilation, Babel, Minification, Environment builds, Asset compilation)</li>
          <li>Linting</li>
          <li>Tests</li>
          <li>Dev Server</li>
        </ul>
      </div>
    </div>
  {{/paper-card-content}}
{{/paper-card}}