{{#paper-card}}
  {{#paper-card-content}}
    <div class="slide-content layout-column">
      <div class="layout-row layout-align-center-center">
        <div class="slide-title">
          Inhoud
        </div>
      </div>
      <div class="layout-row layout-align-center-center">
        <ol class="slide-ordered-list">
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
        </ol>
      </div>
    </div>
  {{/paper-card-content}}
{{/paper-card}}

