@import 'ember-paper';

.presentation{
  position: absolute;
  height: 100%;
  width: 100%;
}

.slideshow{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;

  .play-button{
    color: ghostwhite;
    cursor: pointer;
    z-index: 10;
  }

  .previous{
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: 10;
  }

  .next{
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 10;
  }

  .liquid-container, .liquid-child{
    position: relative;
    width: 100%;
    height: 100%;
  }

  md-card{
    height: calc(100% - 16px);

    md-card-content{
      height: 100%;
    }
  }

  .slide-component{
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.presentation{
  background-color: slategrey;
}

.slide-1{
  height: 100%;
  width: 100%;
  text-align: center;
}

.slide-2{
  height: 100%;
  width: 100%;
}

